.card-body {
  position: relative;
  isolation: isolate;

  color: white;

  background-size: cover;
}

.card-body > .card-body::before {
  content: '';
  position: absolute;

  z-index: -1;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(34, 35, 54, 0.5);
  backdrop-filter: blur(2px);
}
